		
		
	 	<div class="inner cover text-center">
	    	<footer> 
	    		<p>Copyrigth &#169; 2018</p>
	    	</footer>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
			$("#options_new).click(function(){
				$("#modal-mensagem").modal();
			});
		</script>                 
	</body>
</html>