<% include ../header_2 %>

    <body>
        <script type="text/javascript">
            var Workana = {"isMobile":false,"isTablet":false,"isDesktop":true,"ajaxCSRFHeaderKey":"X-Csrf-Token","ajaxCSRFToken":"csrf5aa67306f3217\/324373122c957f6e353fca78ee935db3","disableNotify":{"all":false,"custom":false,"desktop":false},"debug":false,"userId":null,"chatChannel":null,"notificationAudioUrl":"https:\/\/wkncdn.com\/newx\/assets\/build\/sounds\/new.568c45226.mp3","videoCallAudioUrl":"https:\/\/wkncdn.com\/newx\/assets\/build\/sounds\/video-call.49f6b43dd.mp3","language":"pt","locale":"pt_BR","chatEnabled":false,"amplitudeIsEnabled":true};
        </script>
        <div id="app" class="">
            <div class="container">

            </div>
            
            <div class="container main">
                <div class="row access access-floating choose">
                    <div class="col-sm-10 col-sm-offset-1 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 access-wrapper">
                        <div class="access-box">

                            <div class="access-logo">
                                <a href="/"><img src="../public/img/prestador.png" height="120"></a>
                            </div>

                            <div class="row box-common">
                                <div class="col-lg-6 col-sm-6">
                                    <h3 class="text-center">Você é um <br> Comprador?</h3>
                                    <p><a href="/registro_cliente" class="btn btn-primary btn-lg btn-block">Procure seu serviço</a></p>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <h3 class="text-center">Você é um<br> Prestador?</h3>
                                    <p><a href="/registro_prestador" class="btn btn-primary btn-lg btn-block">Registrar-se e começar</a></p>
                                </div>

                                <div class="col-lg-12 col-sm-12 text-center">
                                    <hr>
                                    Você já tem cadastrado Prestador? 
                                    <a href="login2.html" class="green">Entrar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://storage.googleapis.com/workana-reporting/raven.min.js?" crossorigin="anonymous"></script>
            <script>
                if (window.Raven) {
                    Raven.config('https://a5a7a84f4d654157bdbe12663489c1ff@reporting.workana.com/3', {
                        release: '276b915446e9b4c3debbc8a2dba0c0a840ff540a',
                        logger: 'WorkanaLogger',
                        whitelistUrls: [
                            /workana\.com/,
                            /workana-assets\.storage\.googleapis\.com/,
                            /wkncdn\.com/,
                        ],
                        ignoreErrors: [
                            'fb_xd_fragment',
                            /ReferenceError:.*/
                        ],
                        includePaths: [
                            /https?:\/\/workana-assets\.storage\.googleapis\.com/,
                            /https?:\/\/(www\.)?workana\.com/,
                            /https?:\/\/wkncdn\.com/,
                        ]
                    }).install();

                    if (window.Workana && window.Workana.userId) {
                        Raven.setUserContext({
                            id: Workana.userId,
                            email: Workana.email
                        });
                    }
                }
            </script>

            <script type="application/javascript">
            !function(e){function n(r){if(t[r])return t[r].exports;var o=t[r]={i:r,l:!1,exports:{}};return e[r].call(o.exports,o,o.exports,n),o.l=!0,o.exports}var t,r,o=window.webpackJsonp;window.webpackJsonp=function(t,a,c){for(var u,i,f,s=0,l=[];s<t.length;s++)i=t[s],r[i]&&l.push(r[i][0]),r[i]=0;for(u in a)Object.prototype.hasOwnProperty.call(a,u)&&(e[u]=a[u]);for(o&&o(t,a,c);l.length;)l.shift()();if(c)for(s=0;s<c.length;s++)f=n(n.s=c[s]);return f},t={},r={16:0},n.e=function(e){function t(){c.onerror=c.onload=null,clearTimeout(u);var n=r[e];0!==n&&(n&&n[1](new Error("Loading chunk "+e+" failed.")),r[e]=void 0)}var o,a,c,u,i=r[e];return 0===i?new Promise(function(e){e()}):i?i[2]:(o=new Promise(function(n,t){i=r[e]=[n,t]}),i[2]=o,a=document.getElementsByTagName("head")[0],c=document.createElement("script"),c.type="text/javascript",c.charset="utf-8",c.async=!0,c.timeout=12e4,n.nc&&c.setAttribute("nonce",n.nc),c.src=n.p+"bundle."+e+"."+{0:"91e4dd78b",1:"cb542f39b",2:"f8c579711",3:"b8a99407f",4:"4eabf9ec5",5:"ab055fea3",6:"4e521be40",7:"ed824e5a1",8:"ae29286a2",9:"e0b39995e",10:"195e65eba",11:"c812b905d",12:"0ea5fa055",13:"4a29f4d03",14:"e181040eb",15:"b628580ef"}[e]+".js",u=setTimeout(t,12e4),c.onerror=c.onload=t,a.appendChild(c),o)},n.m=e,n.c=t,n.d=function(e,t,r){n.o(e,t)||Object.defineProperty(e,t,{configurable:!1,enumerable:!0,get:r})},n.n=function(e){var t=e&&e.__esModule?function(){return e.default}:function(){return e};return n.d(t,"a",t),t},n.o=function(e,n){return Object.prototype.hasOwnProperty.call(e,n)},n.p="https://wkncdn.com/newx/assets/build/",n.oe=function(e){throw console.error(e),e}}([]);
            //# sourceMappingURL=bundle.initial-loader.c84834d0f.js.map    </script>
            <script crossorigin="anonymous" src="https://wkncdn.com/newx/assets/build/bundle.vendor-all.0ea5fa055.js" type="application/javascript"></script>
            <script crossorigin="anonymous" src="https://wkncdn.com/newx/assets/build/bundle.vendor-internal.c812b905d.js" type="application/javascript"></script>
            <script crossorigin="anonymous" src="https://wkncdn.com/newx/assets/build/bundle.app.195e65eba.js" type="application/javascript"></script>

            <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"5561723"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script><noscript><img src="//bat.bing.com/action/0?ti=5561723&Ver=2" height="0" width="0" style="display:none; visibility: hidden;" /></noscript>

            <script type="text/javascript">
                var google_conversion_id = 1007132020;
                var google_custom_params = [];
                var google_remarketing_only = true;
            </script>

            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1007132020/?value=1.00&guid=ON&currency_code=USD&script=0"/>
                </div>
            </noscript>

            <script type="text/javascript">
                var google_conversion_id = 933686298;
                var google_custom_params = [];
                var google_remarketing_only = true;
            </script>

            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/933686298/?value=1.00&guid=ON&currency_code=ARS&script=0"/>
                </div>
            </noscript>

            <script type="text/javascript">
                var google_conversion_id = 938156306;
                var google_custom_params = [];
                var google_remarketing_only = true;
            </script>
            
            <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

            <noscript>
                <div style="display:inline;">
                    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/938156306/?value=1.00&guid=ON&currency_code=BRL&script=0"/>
                </div>
            </noscript>
        </div>
    </body>
</html>